@import "tailwindcss";

@theme {
  --color-acm-blue: #0055A2;
  --color-acm-light: #E5F1FA;
  --color-acm-dark: #003366;
  --color-acm-accent: #00A4E4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* Gray-100 */
}
